.code__html{
  color: $color-primary;
  font-size: 1.2rem;
}

.exo{
  color: white;
  font-size: 1.2rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__header{
    color: $color-primary;
    padding: 2rem;
  }

  &__body{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .code-css{
    font-family: $font-primary;
  }

  .example-css{
    margin: 3rem;
    padding: 25px;
    background-color: white;
    color: black;

    .title{

      padding: 15px;
      border: 3px solid red;
    }

    .subtitle{
      border-bottom: 2px solid blue;
      color: blue;
      margin: 15px 0;
    }

    .box{

    }
  }

}

.code__js{
  color: white;
   
  font-size: 1.2rem;
}


.text-normal{
  color: white;
}

.text-comment{
  color: grey;
}




.example-js{
  display: flex;
  justify-content : center;
  align-items : center;
  color: white;

  .example1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 3rem 1rem;
  }

}

.js-select{
  color: $color-primary;
}