*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.neon-btn {
  color: #F08208;
  border: 3px solid #F08208;
  margin: auto;
  text-transform: uppercase;
  padding: 15px 25px;
  font-size: 30px;
  font-family: prestige-elite-std, monospace;
  letter-spacing: 5px;
  cursor: pointer;
  font-weight: bold;
  filter: drop-shadow(0 0 10px #F08208) drop-shadow(0 0 25px #F08208) contrast(2);
}
.neon-btn:hover {
  color: black;
  background-color: #F08208;
  filter: drop-shadow(0 0 10px #F08208) contrast(2);
}

@font-face {
  font-family: "Martix Code NFI";
  font-variant: normal;
  font-weight: normal;
  font-style: normal;
  src: url("https://raw.githubusercontent.com/UstymUkhman/UstymUkhman/master/public/fonts/matrix-code/Matrix-Code-NFI.otf?raw=true") format("opentype"), url("https://raw.githubusercontent.com/UstymUkhman/UstymUkhman/master/public/fonts/matrix-code/Matrix-Code-NFI.ttf?raw=true") format("truetype");
}
* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  -moz-osx-font-smoothing: none;
  -webkit-font-smoothing: none;
  text-size-adjust: none;
  touch-callout: none;
  user-select: none;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}

div.code-container {
  background-color: transparent;
  position: absolute;
  margin: auto;
  height: 110%;
  width: 110%;
  left: -5%;
  top: -5%;
  font-family: prestige-elite-std, monospace;
  font-size: 30px;
  color: #F08208;
}
div.code-container div#matrix-code {
  width: 100%;
  height: 100%;
}
div.code-container div#matrix-code p.code-column {
  position: absolute;
  height: auto;
  width: 40px;
  text-align: center;
  line-height: 25px;
}
div.code-container div#matrix-code p.code-column.column-size-12 {
  margin-left: -0.5%;
  z-index: 1;
}
div.code-container div#matrix-code p.code-column.column-size-25 {
  margin-left: 0%;
  z-index: 2;
}
div.code-container div#matrix-code p.code-column.column-size-60 {
  margin-left: -0.75%;
  z-index: 3;
}
div.code-container div#matrix-code p.code-column span {
  text-shadow: 0 -12px 10px #F2942B;
  display: block;
  width: auto;
}
div.code-container div#matrix-code p.code-column span:nth-child(-n+5) {
  opacity: 0.3;
}
div.code-container div#matrix-code p.code-column span:nth-child(n+6):nth-child(-n+10) {
  opacity: 0.42;
}
div.code-container div#matrix-code p.code-column span:nth-child(n+11):nth-child(-n+15) {
  opacity: 0.54;
}
div.code-container div#matrix-code p.code-column span:nth-child(n+16):nth-child(-n+25) {
  opacity: 0.66;
}
div.code-container div#matrix-code p.code-column span:nth-child(n+26):nth-child(-n+35) {
  opacity: 0.78;
}
div.code-container div#matrix-code p.code-column span:nth-child(n+36):nth-child(-n+40) {
  opacity: 0.9;
}
div.code-container div#matrix-code p.code-column span:nth-child(n+41) {
  opacity: 1;
}
div.code-container div#matrix-code p.code-column span:nth-last-child(3) {
  color: #F2942B;
}
div.code-container div#matrix-code p.code-column span:nth-last-child(2) {
  color: #f3a754;
}
div.code-container div#matrix-code p.code-column span:nth-last-child(1) {
  color: #ecb177;
}
div.code-container div#matrix-code p.code-column span.code-size-12 {
  font-size: 12px;
  height: 12px;
}
div.code-container div#matrix-code p.code-column span.code-size-25 {
  font-size: 25px;
  height: 25px;
}
div.code-container div#matrix-code p.code-column span.code-size-60 {
  font-size: 60px;
  height: 60px;
}
div.code-container div#matrix-code p.code-0 {
  position: absolute;
  left: 0%;
  animation: drop 12608ms linear 940ms infinite;
}
div.code-container div#matrix-code p.code-1 {
  position: absolute;
  left: 1%;
  animation: drop 13734ms linear 561ms infinite;
}
div.code-container div#matrix-code p.code-2 {
  position: absolute;
  left: 2%;
  animation: drop 5608ms linear 265ms infinite;
}
div.code-container div#matrix-code p.code-3 {
  position: absolute;
  left: 3%;
  animation: drop 10353ms linear 727ms infinite;
}
div.code-container div#matrix-code p.code-4 {
  position: absolute;
  left: 4%;
  animation: drop 8912ms linear 788ms infinite;
}
div.code-container div#matrix-code p.code-5 {
  position: absolute;
  left: 5%;
  animation: drop 9592ms linear 100ms infinite;
}
div.code-container div#matrix-code p.code-6 {
  position: absolute;
  left: 6%;
  animation: drop 1306ms linear 885ms infinite;
}
div.code-container div#matrix-code p.code-7 {
  position: absolute;
  left: 7%;
  animation: drop 11195ms linear 942ms infinite;
}
div.code-container div#matrix-code p.code-8 {
  position: absolute;
  left: 8%;
  animation: drop 14375ms linear 574ms infinite;
}
div.code-container div#matrix-code p.code-9 {
  position: absolute;
  left: 9%;
  animation: drop 1915ms linear 106ms infinite;
}
div.code-container div#matrix-code p.code-10 {
  position: absolute;
  left: 10%;
  animation: drop 5284ms linear 901ms infinite;
}
div.code-container div#matrix-code p.code-11 {
  position: absolute;
  left: 11%;
  animation: drop 7134ms linear 252ms infinite;
}
div.code-container div#matrix-code p.code-12 {
  position: absolute;
  left: 12%;
  animation: drop 13223ms linear 12ms infinite;
}
div.code-container div#matrix-code p.code-13 {
  position: absolute;
  left: 13%;
  animation: drop 2591ms linear 385ms infinite;
}
div.code-container div#matrix-code p.code-14 {
  position: absolute;
  left: 14%;
  animation: drop 5322ms linear 735ms infinite;
}
div.code-container div#matrix-code p.code-15 {
  position: absolute;
  left: 15%;
  animation: drop 5149ms linear 802ms infinite;
}
div.code-container div#matrix-code p.code-16 {
  position: absolute;
  left: 16%;
  animation: drop 1181ms linear 381ms infinite;
}
div.code-container div#matrix-code p.code-17 {
  position: absolute;
  left: 17%;
  animation: drop 6434ms linear 220ms infinite;
}
div.code-container div#matrix-code p.code-18 {
  position: absolute;
  left: 18%;
  animation: drop 4585ms linear 712ms infinite;
}
div.code-container div#matrix-code p.code-19 {
  position: absolute;
  left: 19%;
  animation: drop 6971ms linear 44ms infinite;
}
div.code-container div#matrix-code p.code-20 {
  position: absolute;
  left: 20%;
  animation: drop 8919ms linear 589ms infinite;
}
div.code-container div#matrix-code p.code-21 {
  position: absolute;
  left: 21%;
  animation: drop 14631ms linear 199ms infinite;
}
div.code-container div#matrix-code p.code-22 {
  position: absolute;
  left: 22%;
  animation: drop 12290ms linear 601ms infinite;
}
div.code-container div#matrix-code p.code-23 {
  position: absolute;
  left: 23%;
  animation: drop 12774ms linear 863ms infinite;
}
div.code-container div#matrix-code p.code-24 {
  position: absolute;
  left: 24%;
  animation: drop 6863ms linear 3ms infinite;
}
div.code-container div#matrix-code p.code-25 {
  position: absolute;
  left: 25%;
  animation: drop 3568ms linear 243ms infinite;
}
div.code-container div#matrix-code p.code-26 {
  position: absolute;
  left: 26%;
  animation: drop 2523ms linear 799ms infinite;
}
div.code-container div#matrix-code p.code-27 {
  position: absolute;
  left: 27%;
  animation: drop 5474ms linear 451ms infinite;
}
div.code-container div#matrix-code p.code-28 {
  position: absolute;
  left: 28%;
  animation: drop 2252ms linear 373ms infinite;
}
div.code-container div#matrix-code p.code-29 {
  position: absolute;
  left: 29%;
  animation: drop 6130ms linear 767ms infinite;
}
div.code-container div#matrix-code p.code-30 {
  position: absolute;
  left: 30%;
  animation: drop 5309ms linear 210ms infinite;
}
div.code-container div#matrix-code p.code-31 {
  position: absolute;
  left: 31%;
  animation: drop 1207ms linear 32ms infinite;
}
div.code-container div#matrix-code p.code-32 {
  position: absolute;
  left: 32%;
  animation: drop 7631ms linear 563ms infinite;
}
div.code-container div#matrix-code p.code-33 {
  position: absolute;
  left: 33%;
  animation: drop 6520ms linear 306ms infinite;
}
div.code-container div#matrix-code p.code-34 {
  position: absolute;
  left: 34%;
  animation: drop 10230ms linear 170ms infinite;
}
div.code-container div#matrix-code p.code-35 {
  position: absolute;
  left: 35%;
  animation: drop 9313ms linear 745ms infinite;
}
div.code-container div#matrix-code p.code-36 {
  position: absolute;
  left: 36%;
  animation: drop 6422ms linear 607ms infinite;
}
div.code-container div#matrix-code p.code-37 {
  position: absolute;
  left: 37%;
  animation: drop 14994ms linear 796ms infinite;
}
div.code-container div#matrix-code p.code-38 {
  position: absolute;
  left: 38%;
  animation: drop 11393ms linear 230ms infinite;
}
div.code-container div#matrix-code p.code-39 {
  position: absolute;
  left: 39%;
  animation: drop 1362ms linear 759ms infinite;
}
div.code-container div#matrix-code p.code-40 {
  position: absolute;
  left: 40%;
  animation: drop 6437ms linear 629ms infinite;
}
div.code-container div#matrix-code p.code-41 {
  position: absolute;
  left: 41%;
  animation: drop 7982ms linear 441ms infinite;
}
div.code-container div#matrix-code p.code-42 {
  position: absolute;
  left: 42%;
  animation: drop 6518ms linear 128ms infinite;
}
div.code-container div#matrix-code p.code-43 {
  position: absolute;
  left: 43%;
  animation: drop 3382ms linear 916ms infinite;
}
div.code-container div#matrix-code p.code-44 {
  position: absolute;
  left: 44%;
  animation: drop 14632ms linear 940ms infinite;
}
div.code-container div#matrix-code p.code-45 {
  position: absolute;
  left: 45%;
  animation: drop 5706ms linear 160ms infinite;
}
div.code-container div#matrix-code p.code-46 {
  position: absolute;
  left: 46%;
  animation: drop 5597ms linear 982ms infinite;
}
div.code-container div#matrix-code p.code-47 {
  position: absolute;
  left: 47%;
  animation: drop 6852ms linear 488ms infinite;
}
div.code-container div#matrix-code p.code-48 {
  position: absolute;
  left: 48%;
  animation: drop 11011ms linear 819ms infinite;
}
div.code-container div#matrix-code p.code-49 {
  position: absolute;
  left: 49%;
  animation: drop 3123ms linear 742ms infinite;
}
div.code-container div#matrix-code p.code-50 {
  position: absolute;
  left: 50%;
  animation: drop 5337ms linear 615ms infinite;
}
div.code-container div#matrix-code p.code-51 {
  position: absolute;
  left: 51%;
  animation: drop 13474ms linear 842ms infinite;
}
div.code-container div#matrix-code p.code-52 {
  position: absolute;
  left: 52%;
  animation: drop 14887ms linear 692ms infinite;
}
div.code-container div#matrix-code p.code-53 {
  position: absolute;
  left: 53%;
  animation: drop 7320ms linear 452ms infinite;
}
div.code-container div#matrix-code p.code-54 {
  position: absolute;
  left: 54%;
  animation: drop 14461ms linear 875ms infinite;
}
div.code-container div#matrix-code p.code-55 {
  position: absolute;
  left: 55%;
  animation: drop 12968ms linear 396ms infinite;
}
div.code-container div#matrix-code p.code-56 {
  position: absolute;
  left: 56%;
  animation: drop 13547ms linear 952ms infinite;
}
div.code-container div#matrix-code p.code-57 {
  position: absolute;
  left: 57%;
  animation: drop 5902ms linear 726ms infinite;
}
div.code-container div#matrix-code p.code-58 {
  position: absolute;
  left: 58%;
  animation: drop 8466ms linear 448ms infinite;
}
div.code-container div#matrix-code p.code-59 {
  position: absolute;
  left: 59%;
  animation: drop 11902ms linear 595ms infinite;
}
div.code-container div#matrix-code p.code-60 {
  position: absolute;
  left: 60%;
  animation: drop 3927ms linear 999ms infinite;
}
div.code-container div#matrix-code p.code-61 {
  position: absolute;
  left: 61%;
  animation: drop 1302ms linear 660ms infinite;
}
div.code-container div#matrix-code p.code-62 {
  position: absolute;
  left: 62%;
  animation: drop 3697ms linear 799ms infinite;
}
div.code-container div#matrix-code p.code-63 {
  position: absolute;
  left: 63%;
  animation: drop 7446ms linear 762ms infinite;
}
div.code-container div#matrix-code p.code-64 {
  position: absolute;
  left: 64%;
  animation: drop 2329ms linear 128ms infinite;
}
div.code-container div#matrix-code p.code-65 {
  position: absolute;
  left: 65%;
  animation: drop 13857ms linear 234ms infinite;
}
div.code-container div#matrix-code p.code-66 {
  position: absolute;
  left: 66%;
  animation: drop 8601ms linear 943ms infinite;
}
div.code-container div#matrix-code p.code-67 {
  position: absolute;
  left: 67%;
  animation: drop 6146ms linear 768ms infinite;
}
div.code-container div#matrix-code p.code-68 {
  position: absolute;
  left: 68%;
  animation: drop 14297ms linear 626ms infinite;
}
div.code-container div#matrix-code p.code-69 {
  position: absolute;
  left: 69%;
  animation: drop 9907ms linear 971ms infinite;
}
div.code-container div#matrix-code p.code-70 {
  position: absolute;
  left: 70%;
  animation: drop 10906ms linear 664ms infinite;
}
div.code-container div#matrix-code p.code-71 {
  position: absolute;
  left: 71%;
  animation: drop 7849ms linear 85ms infinite;
}
div.code-container div#matrix-code p.code-72 {
  position: absolute;
  left: 72%;
  animation: drop 8717ms linear 994ms infinite;
}
div.code-container div#matrix-code p.code-73 {
  position: absolute;
  left: 73%;
  animation: drop 6787ms linear 405ms infinite;
}
div.code-container div#matrix-code p.code-74 {
  position: absolute;
  left: 74%;
  animation: drop 7657ms linear 164ms infinite;
}
div.code-container div#matrix-code p.code-75 {
  position: absolute;
  left: 75%;
  animation: drop 13825ms linear 509ms infinite;
}
div.code-container div#matrix-code p.code-76 {
  position: absolute;
  left: 76%;
  animation: drop 5066ms linear 459ms infinite;
}
div.code-container div#matrix-code p.code-77 {
  position: absolute;
  left: 77%;
  animation: drop 4047ms linear 634ms infinite;
}
div.code-container div#matrix-code p.code-78 {
  position: absolute;
  left: 78%;
  animation: drop 8003ms linear 132ms infinite;
}
div.code-container div#matrix-code p.code-79 {
  position: absolute;
  left: 79%;
  animation: drop 4217ms linear 619ms infinite;
}
div.code-container div#matrix-code p.code-80 {
  position: absolute;
  left: 80%;
  animation: drop 14407ms linear 634ms infinite;
}
div.code-container div#matrix-code p.code-81 {
  position: absolute;
  left: 81%;
  animation: drop 2133ms linear 93ms infinite;
}
div.code-container div#matrix-code p.code-82 {
  position: absolute;
  left: 82%;
  animation: drop 10240ms linear 642ms infinite;
}
div.code-container div#matrix-code p.code-83 {
  position: absolute;
  left: 83%;
  animation: drop 10709ms linear 827ms infinite;
}
div.code-container div#matrix-code p.code-84 {
  position: absolute;
  left: 84%;
  animation: drop 6674ms linear 414ms infinite;
}
div.code-container div#matrix-code p.code-85 {
  position: absolute;
  left: 85%;
  animation: drop 2123ms linear 453ms infinite;
}
div.code-container div#matrix-code p.code-86 {
  position: absolute;
  left: 86%;
  animation: drop 4353ms linear 556ms infinite;
}
div.code-container div#matrix-code p.code-87 {
  position: absolute;
  left: 87%;
  animation: drop 9286ms linear 883ms infinite;
}
div.code-container div#matrix-code p.code-88 {
  position: absolute;
  left: 88%;
  animation: drop 12376ms linear 367ms infinite;
}
div.code-container div#matrix-code p.code-89 {
  position: absolute;
  left: 89%;
  animation: drop 13665ms linear 989ms infinite;
}
div.code-container div#matrix-code p.code-90 {
  position: absolute;
  left: 90%;
  animation: drop 13182ms linear 125ms infinite;
}
div.code-container div#matrix-code p.code-91 {
  position: absolute;
  left: 91%;
  animation: drop 3778ms linear 89ms infinite;
}
div.code-container div#matrix-code p.code-92 {
  position: absolute;
  left: 92%;
  animation: drop 11073ms linear 760ms infinite;
}
div.code-container div#matrix-code p.code-93 {
  position: absolute;
  left: 93%;
  animation: drop 9645ms linear 680ms infinite;
}
div.code-container div#matrix-code p.code-94 {
  position: absolute;
  left: 94%;
  animation: drop 14930ms linear 354ms infinite;
}
div.code-container div#matrix-code p.code-95 {
  position: absolute;
  left: 95%;
  animation: drop 13564ms linear 243ms infinite;
}
div.code-container div#matrix-code p.code-96 {
  position: absolute;
  left: 96%;
  animation: drop 7472ms linear 581ms infinite;
}
div.code-container div#matrix-code p.code-97 {
  position: absolute;
  left: 97%;
  animation: drop 8027ms linear 562ms infinite;
}
div.code-container div#matrix-code p.code-98 {
  position: absolute;
  left: 98%;
  animation: drop 3072ms linear 772ms infinite;
}
div.code-container div#matrix-code p.code-99 {
  position: absolute;
  left: 99%;
  animation: drop 4657ms linear 574ms infinite;
}

@keyframes drop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(100%);
  }
}

/*# sourceMappingURL=style.css.map */
