*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.neon-btn {
  color: #F08208;
  border: 3px solid #F08208;
  margin: auto;
  text-transform: uppercase;
  padding: 15px 25px;
  font-size: 30px;
  font-family: prestige-elite-std, monospace;
  letter-spacing: 5px;
  cursor: pointer;
  font-weight: bold;
  filter: drop-shadow(0 0 10px #F08208) drop-shadow(0 0 25px #F08208) contrast(2);
}
.neon-btn:hover {
  color: black;
  background-color: #F08208;
  filter: drop-shadow(0 0 10px #F08208) contrast(2);
}

.fill-blank {
  box-sizing: border-box;
  display: block;
  border: 0;
  border-bottom: 2px solid grey;
  padding: 0.25rem 0.5rem;
  color: #F08208;
  background: transparent;
  transition: all 0.3s ease;
  font-family: prestige-elite-std, monospace;
}
.fill-blank:hover {
  border-bottom: 2px solid #F08208;
}
.fill-blank:focus, .fill-blank:active {
  outline: 0;
  border-bottom: 2px solid #F08208;
}

@font-face {
  font-family: "Martix Code NFI";
  font-variant: normal;
  font-weight: normal;
  font-style: normal;
  src: url("https://raw.githubusercontent.com/UstymUkhman/UstymUkhman/master/public/fonts/matrix-code/Matrix-Code-NFI.otf?raw=true") format("opentype"), url("https://raw.githubusercontent.com/UstymUkhman/UstymUkhman/master/public/fonts/matrix-code/Matrix-Code-NFI.ttf?raw=true") format("truetype");
}
* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  -moz-osx-font-smoothing: none;
  -webkit-font-smoothing: none;
  text-size-adjust: none;
  touch-callout: none;
  user-select: none;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}

div.code-container {
  background-color: black;
  position: absolute;
  margin: auto;
  height: 110%;
  width: 110%;
  left: -5%;
  top: -5%;
  font-family: prestige-elite-std, monospace;
  font-size: 30px;
  color: #F08208;
}
div.code-container div#matrix-code {
  width: 100%;
  height: 100%;
}
div.code-container div#matrix-code p.code-column {
  position: absolute;
  height: auto;
  width: 40px;
  text-align: center;
  line-height: 25px;
}
div.code-container div#matrix-code p.code-column.column-size-12 {
  margin-left: -0.5%;
  z-index: 1;
}
div.code-container div#matrix-code p.code-column.column-size-25 {
  margin-left: 0%;
  z-index: 2;
}
div.code-container div#matrix-code p.code-column.column-size-60 {
  margin-left: -0.75%;
  z-index: 3;
}
div.code-container div#matrix-code p.code-column span {
  text-shadow: 0 -12px 10px #F2942B;
  display: block;
  width: auto;
}
div.code-container div#matrix-code p.code-column span:nth-child(-n+5) {
  opacity: 0.3;
}
div.code-container div#matrix-code p.code-column span:nth-child(n+6):nth-child(-n+10) {
  opacity: 0.42;
}
div.code-container div#matrix-code p.code-column span:nth-child(n+11):nth-child(-n+15) {
  opacity: 0.54;
}
div.code-container div#matrix-code p.code-column span:nth-child(n+16):nth-child(-n+25) {
  opacity: 0.66;
}
div.code-container div#matrix-code p.code-column span:nth-child(n+26):nth-child(-n+35) {
  opacity: 0.78;
}
div.code-container div#matrix-code p.code-column span:nth-child(n+36):nth-child(-n+40) {
  opacity: 0.9;
}
div.code-container div#matrix-code p.code-column span:nth-child(n+41) {
  opacity: 1;
}
div.code-container div#matrix-code p.code-column span:nth-last-child(3) {
  color: #F2942B;
}
div.code-container div#matrix-code p.code-column span:nth-last-child(2) {
  color: #f3a754;
}
div.code-container div#matrix-code p.code-column span:nth-last-child(1) {
  color: #ecb177;
}
div.code-container div#matrix-code p.code-column span.code-size-12 {
  font-size: 12px;
  height: 12px;
}
div.code-container div#matrix-code p.code-column span.code-size-25 {
  font-size: 25px;
  height: 25px;
}
div.code-container div#matrix-code p.code-column span.code-size-60 {
  font-size: 60px;
  height: 60px;
}
div.code-container div#matrix-code p.code-0 {
  position: absolute;
  left: 0%;
  animation: drop 8860ms linear 71ms;
}
div.code-container div#matrix-code p.code-1 {
  position: absolute;
  left: 1%;
  animation: drop 3727ms linear 48ms;
}
div.code-container div#matrix-code p.code-2 {
  position: absolute;
  left: 2%;
  animation: drop 13414ms linear 627ms;
}
div.code-container div#matrix-code p.code-3 {
  position: absolute;
  left: 3%;
  animation: drop 8901ms linear 281ms;
}
div.code-container div#matrix-code p.code-4 {
  position: absolute;
  left: 4%;
  animation: drop 13919ms linear 900ms;
}
div.code-container div#matrix-code p.code-5 {
  position: absolute;
  left: 5%;
  animation: drop 2253ms linear 240ms;
}
div.code-container div#matrix-code p.code-6 {
  position: absolute;
  left: 6%;
  animation: drop 10858ms linear 171ms;
}
div.code-container div#matrix-code p.code-7 {
  position: absolute;
  left: 7%;
  animation: drop 13497ms linear 612ms;
}
div.code-container div#matrix-code p.code-8 {
  position: absolute;
  left: 8%;
  animation: drop 13921ms linear 983ms;
}
div.code-container div#matrix-code p.code-9 {
  position: absolute;
  left: 9%;
  animation: drop 6088ms linear 229ms;
}
div.code-container div#matrix-code p.code-10 {
  position: absolute;
  left: 10%;
  animation: drop 11723ms linear 511ms;
}
div.code-container div#matrix-code p.code-11 {
  position: absolute;
  left: 11%;
  animation: drop 3122ms linear 453ms;
}
div.code-container div#matrix-code p.code-12 {
  position: absolute;
  left: 12%;
  animation: drop 14871ms linear 277ms;
}
div.code-container div#matrix-code p.code-13 {
  position: absolute;
  left: 13%;
  animation: drop 13075ms linear 613ms;
}
div.code-container div#matrix-code p.code-14 {
  position: absolute;
  left: 14%;
  animation: drop 7263ms linear 878ms;
}
div.code-container div#matrix-code p.code-15 {
  position: absolute;
  left: 15%;
  animation: drop 6658ms linear 115ms;
}
div.code-container div#matrix-code p.code-16 {
  position: absolute;
  left: 16%;
  animation: drop 1398ms linear 824ms;
}
div.code-container div#matrix-code p.code-17 {
  position: absolute;
  left: 17%;
  animation: drop 13423ms linear 834ms;
}
div.code-container div#matrix-code p.code-18 {
  position: absolute;
  left: 18%;
  animation: drop 8400ms linear 49ms;
}
div.code-container div#matrix-code p.code-19 {
  position: absolute;
  left: 19%;
  animation: drop 5457ms linear 839ms;
}
div.code-container div#matrix-code p.code-20 {
  position: absolute;
  left: 20%;
  animation: drop 1438ms linear 837ms;
}
div.code-container div#matrix-code p.code-21 {
  position: absolute;
  left: 21%;
  animation: drop 14447ms linear 513ms;
}
div.code-container div#matrix-code p.code-22 {
  position: absolute;
  left: 22%;
  animation: drop 13688ms linear 216ms;
}
div.code-container div#matrix-code p.code-23 {
  position: absolute;
  left: 23%;
  animation: drop 13370ms linear 953ms;
}
div.code-container div#matrix-code p.code-24 {
  position: absolute;
  left: 24%;
  animation: drop 2302ms linear 401ms;
}
div.code-container div#matrix-code p.code-25 {
  position: absolute;
  left: 25%;
  animation: drop 9260ms linear 597ms;
}
div.code-container div#matrix-code p.code-26 {
  position: absolute;
  left: 26%;
  animation: drop 7593ms linear 64ms;
}
div.code-container div#matrix-code p.code-27 {
  position: absolute;
  left: 27%;
  animation: drop 3823ms linear 472ms;
}
div.code-container div#matrix-code p.code-28 {
  position: absolute;
  left: 28%;
  animation: drop 14793ms linear 748ms;
}
div.code-container div#matrix-code p.code-29 {
  position: absolute;
  left: 29%;
  animation: drop 1169ms linear 668ms;
}
div.code-container div#matrix-code p.code-30 {
  position: absolute;
  left: 30%;
  animation: drop 3126ms linear 273ms;
}
div.code-container div#matrix-code p.code-31 {
  position: absolute;
  left: 31%;
  animation: drop 6440ms linear 456ms;
}
div.code-container div#matrix-code p.code-32 {
  position: absolute;
  left: 32%;
  animation: drop 7149ms linear 479ms;
}
div.code-container div#matrix-code p.code-33 {
  position: absolute;
  left: 33%;
  animation: drop 10351ms linear 646ms;
}
div.code-container div#matrix-code p.code-34 {
  position: absolute;
  left: 34%;
  animation: drop 14027ms linear 942ms;
}
div.code-container div#matrix-code p.code-35 {
  position: absolute;
  left: 35%;
  animation: drop 6103ms linear 486ms;
}
div.code-container div#matrix-code p.code-36 {
  position: absolute;
  left: 36%;
  animation: drop 8299ms linear 496ms;
}
div.code-container div#matrix-code p.code-37 {
  position: absolute;
  left: 37%;
  animation: drop 4028ms linear 551ms;
}
div.code-container div#matrix-code p.code-38 {
  position: absolute;
  left: 38%;
  animation: drop 11622ms linear 143ms;
}
div.code-container div#matrix-code p.code-39 {
  position: absolute;
  left: 39%;
  animation: drop 5000ms linear 759ms;
}
div.code-container div#matrix-code p.code-40 {
  position: absolute;
  left: 40%;
  animation: drop 7455ms linear 69ms;
}
div.code-container div#matrix-code p.code-41 {
  position: absolute;
  left: 41%;
  animation: drop 12439ms linear 866ms;
}
div.code-container div#matrix-code p.code-42 {
  position: absolute;
  left: 42%;
  animation: drop 5931ms linear 935ms;
}
div.code-container div#matrix-code p.code-43 {
  position: absolute;
  left: 43%;
  animation: drop 6354ms linear 73ms;
}
div.code-container div#matrix-code p.code-44 {
  position: absolute;
  left: 44%;
  animation: drop 8879ms linear 953ms;
}
div.code-container div#matrix-code p.code-45 {
  position: absolute;
  left: 45%;
  animation: drop 3143ms linear 668ms;
}
div.code-container div#matrix-code p.code-46 {
  position: absolute;
  left: 46%;
  animation: drop 7480ms linear 946ms;
}
div.code-container div#matrix-code p.code-47 {
  position: absolute;
  left: 47%;
  animation: drop 3093ms linear 124ms;
}
div.code-container div#matrix-code p.code-48 {
  position: absolute;
  left: 48%;
  animation: drop 4291ms linear 350ms;
}
div.code-container div#matrix-code p.code-49 {
  position: absolute;
  left: 49%;
  animation: drop 10887ms linear 685ms;
}
div.code-container div#matrix-code p.code-50 {
  position: absolute;
  left: 50%;
  animation: drop 8113ms linear 61ms;
}
div.code-container div#matrix-code p.code-51 {
  position: absolute;
  left: 51%;
  animation: drop 4551ms linear 475ms;
}
div.code-container div#matrix-code p.code-52 {
  position: absolute;
  left: 52%;
  animation: drop 10441ms linear 206ms;
}
div.code-container div#matrix-code p.code-53 {
  position: absolute;
  left: 53%;
  animation: drop 13679ms linear 516ms;
}
div.code-container div#matrix-code p.code-54 {
  position: absolute;
  left: 54%;
  animation: drop 11976ms linear 373ms;
}
div.code-container div#matrix-code p.code-55 {
  position: absolute;
  left: 55%;
  animation: drop 7792ms linear 499ms;
}
div.code-container div#matrix-code p.code-56 {
  position: absolute;
  left: 56%;
  animation: drop 8327ms linear 421ms;
}
div.code-container div#matrix-code p.code-57 {
  position: absolute;
  left: 57%;
  animation: drop 3118ms linear 246ms;
}
div.code-container div#matrix-code p.code-58 {
  position: absolute;
  left: 58%;
  animation: drop 10887ms linear 740ms;
}
div.code-container div#matrix-code p.code-59 {
  position: absolute;
  left: 59%;
  animation: drop 12482ms linear 697ms;
}
div.code-container div#matrix-code p.code-60 {
  position: absolute;
  left: 60%;
  animation: drop 13325ms linear 16ms;
}
div.code-container div#matrix-code p.code-61 {
  position: absolute;
  left: 61%;
  animation: drop 10010ms linear 946ms;
}
div.code-container div#matrix-code p.code-62 {
  position: absolute;
  left: 62%;
  animation: drop 8346ms linear 996ms;
}
div.code-container div#matrix-code p.code-63 {
  position: absolute;
  left: 63%;
  animation: drop 7505ms linear 452ms;
}
div.code-container div#matrix-code p.code-64 {
  position: absolute;
  left: 64%;
  animation: drop 2247ms linear 642ms;
}
div.code-container div#matrix-code p.code-65 {
  position: absolute;
  left: 65%;
  animation: drop 12712ms linear 648ms;
}
div.code-container div#matrix-code p.code-66 {
  position: absolute;
  left: 66%;
  animation: drop 8153ms linear 844ms;
}
div.code-container div#matrix-code p.code-67 {
  position: absolute;
  left: 67%;
  animation: drop 8812ms linear 71ms;
}
div.code-container div#matrix-code p.code-68 {
  position: absolute;
  left: 68%;
  animation: drop 10985ms linear 515ms;
}
div.code-container div#matrix-code p.code-69 {
  position: absolute;
  left: 69%;
  animation: drop 11581ms linear 405ms;
}
div.code-container div#matrix-code p.code-70 {
  position: absolute;
  left: 70%;
  animation: drop 7896ms linear 101ms;
}
div.code-container div#matrix-code p.code-71 {
  position: absolute;
  left: 71%;
  animation: drop 2963ms linear 283ms;
}
div.code-container div#matrix-code p.code-72 {
  position: absolute;
  left: 72%;
  animation: drop 12939ms linear 768ms;
}
div.code-container div#matrix-code p.code-73 {
  position: absolute;
  left: 73%;
  animation: drop 10911ms linear 411ms;
}
div.code-container div#matrix-code p.code-74 {
  position: absolute;
  left: 74%;
  animation: drop 13484ms linear 264ms;
}
div.code-container div#matrix-code p.code-75 {
  position: absolute;
  left: 75%;
  animation: drop 6108ms linear 172ms;
}
div.code-container div#matrix-code p.code-76 {
  position: absolute;
  left: 76%;
  animation: drop 2278ms linear 565ms;
}
div.code-container div#matrix-code p.code-77 {
  position: absolute;
  left: 77%;
  animation: drop 12279ms linear 12ms;
}
div.code-container div#matrix-code p.code-78 {
  position: absolute;
  left: 78%;
  animation: drop 12613ms linear 525ms;
}
div.code-container div#matrix-code p.code-79 {
  position: absolute;
  left: 79%;
  animation: drop 12337ms linear 123ms;
}
div.code-container div#matrix-code p.code-80 {
  position: absolute;
  left: 80%;
  animation: drop 5837ms linear 972ms;
}
div.code-container div#matrix-code p.code-81 {
  position: absolute;
  left: 81%;
  animation: drop 1690ms linear 259ms;
}
div.code-container div#matrix-code p.code-82 {
  position: absolute;
  left: 82%;
  animation: drop 14391ms linear 439ms;
}
div.code-container div#matrix-code p.code-83 {
  position: absolute;
  left: 83%;
  animation: drop 9979ms linear 532ms;
}
div.code-container div#matrix-code p.code-84 {
  position: absolute;
  left: 84%;
  animation: drop 9020ms linear 600ms;
}
div.code-container div#matrix-code p.code-85 {
  position: absolute;
  left: 85%;
  animation: drop 6458ms linear 834ms;
}
div.code-container div#matrix-code p.code-86 {
  position: absolute;
  left: 86%;
  animation: drop 9509ms linear 104ms;
}
div.code-container div#matrix-code p.code-87 {
  position: absolute;
  left: 87%;
  animation: drop 3056ms linear 176ms;
}
div.code-container div#matrix-code p.code-88 {
  position: absolute;
  left: 88%;
  animation: drop 2590ms linear 999ms;
}
div.code-container div#matrix-code p.code-89 {
  position: absolute;
  left: 89%;
  animation: drop 9892ms linear 885ms;
}
div.code-container div#matrix-code p.code-90 {
  position: absolute;
  left: 90%;
  animation: drop 9779ms linear 373ms;
}
div.code-container div#matrix-code p.code-91 {
  position: absolute;
  left: 91%;
  animation: drop 7250ms linear 70ms;
}
div.code-container div#matrix-code p.code-92 {
  position: absolute;
  left: 92%;
  animation: drop 7300ms linear 947ms;
}
div.code-container div#matrix-code p.code-93 {
  position: absolute;
  left: 93%;
  animation: drop 12343ms linear 231ms;
}
div.code-container div#matrix-code p.code-94 {
  position: absolute;
  left: 94%;
  animation: drop 5927ms linear 818ms;
}
div.code-container div#matrix-code p.code-95 {
  position: absolute;
  left: 95%;
  animation: drop 9290ms linear 229ms;
}
div.code-container div#matrix-code p.code-96 {
  position: absolute;
  left: 96%;
  animation: drop 8692ms linear 199ms;
}
div.code-container div#matrix-code p.code-97 {
  position: absolute;
  left: 97%;
  animation: drop 12111ms linear 695ms;
}
div.code-container div#matrix-code p.code-98 {
  position: absolute;
  left: 98%;
  animation: drop 6351ms linear 449ms;
}
div.code-container div#matrix-code p.code-99 {
  position: absolute;
  left: 99%;
  animation: drop 7232ms linear 622ms;
}

@keyframes drop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(100%);
  }
}

/*# sourceMappingURL=style.css.map */
