

.exo{
  color: white;
  font-size: 1.2rem;
  padding: 2rem;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //flex-direction: column;

  &__header{
    color: $color-primary;
    padding: 2rem;

    h2{
      font-family: $font-secondary;
      font-weight: 500;
      font-size: 3rem;
      margin-bottom: 1.5rem;
    }
  }

  &__footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }



  .code-css, .code-js, .code-html{
    font-family: $font-primary;
    font-size: 1.2rem;
  }

  .code-html{
    color: $color-primary;
  }

  .example-css{
    margin: 3rem;
    padding: 25px;
    background-color: white;
    color: black;

    .title{

      padding: 15px;
      border: 3px solid red;
    }

    .subtitle{
      border-bottom: 2px solid blue;
      color: blue;
      margin: 15px 0;
    }

    .box{

    }
  }
}

#exo-css{
  .exo__body{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

.text-normal{
  color: white;
}

.text-comment{
  color: grey;
}




.example-js{
  display: flex;
  justify-content : center;
  align-items : center;
  color: white;

  .example1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 3rem 1rem;
  }

}

.js-select{
  color: $color-primary;
}