*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  -moz-osx-font-smoothing: none;
  -webkit-font-smoothing: none;
  text-size-adjust: none;
  touch-callout: none;
  user-select: none;
  font-family: prestige-elite-std, monospace;
  background-color: #1f1e1e;
  background-image: url("../../public/bg-iimscape.png");
  background-size: cover;
  background-position: center;
}

@font-face {
  font-family: "slovic-demo";
  src: url("../../public/fonts/Slovic_Demo-SansSerif.otf") format("opentype");
}
.fill-blank {
  box-sizing: border-box;
  display: inline-flex;
  border: 0;
  border-bottom: 2px solid grey;
  padding: 0.25rem 0.5rem;
  color: #F08208;
  background: transparent;
  transition: all 0.3s ease;
  font-family: prestige-elite-std, monospace;
  font-size: 1.2rem;
}
.fill-blank:hover {
  border-bottom: 2px solid #F08208;
}
.fill-blank:focus, .fill-blank:active {
  outline: 0;
  border-bottom: 2px solid #F08208;
}

.neon-btn {
  color: #F08208;
  border: 3px solid #F08208;
  text-transform: uppercase;
  padding: 15px 25px;
  font-size: 30px;
  font-family: prestige-elite-std, monospace;
  letter-spacing: 5px;
  cursor: pointer;
  font-weight: bold;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.8);
  filter: drop-shadow(0 0 10px #F08208) drop-shadow(0 0 25px #F08208) contrast(2);
}
.neon-btn:hover {
  color: black;
  background-color: #F08208;
  filter: drop-shadow(0 0 10px #F08208) contrast(2);
}

.submit {
  color: #F08208;
  border: 2px solid #F08208;
  background-color: transparent;
  padding: 1rem 1.5rem;
  cursor: pointer;
}
.submit:hover {
  background-color: #F08208;
  color: black;
}

.link-redirect {
  color: #0d5233;
}
.link-redirect:hover {
  text-decoration: underline;
}

@font-face {
  font-family: "Martix Code NFI";
  font-variant: normal;
  font-weight: normal;
  font-style: normal;
  src: url("https://raw.githubusercontent.com/UstymUkhman/UstymUkhman/master/public/fonts/matrix-code/Matrix-Code-NFI.otf?raw=true") format("opentype"), url("https://raw.githubusercontent.com/UstymUkhman/UstymUkhman/master/public/fonts/matrix-code/Matrix-Code-NFI.ttf?raw=true") format("truetype");
}
* {
  margin: 0;
  padding: 0;
}

div.code-container {
  position: absolute;
  margin: auto;
  display: none;
  height: 110%;
  width: 110%;
  left: -5%;
  top: -5%;
  font-family: prestige-elite-std, monospace;
  font-size: 30px;
  color: #F08208;
}
div.code-container div#matrix-code {
  width: 100%;
  height: 100%;
}
div.code-container div#matrix-code p.code-column {
  position: absolute;
  height: auto;
  width: 40px;
  text-align: center;
  line-height: 25px;
}
div.code-container div#matrix-code p.code-column.column-size-12 {
  margin-left: -0.5%;
  z-index: 1;
}
div.code-container div#matrix-code p.code-column.column-size-25 {
  margin-left: 0%;
  z-index: 2;
}
div.code-container div#matrix-code p.code-column.column-size-60 {
  margin-left: -0.75%;
  z-index: 3;
}
div.code-container div#matrix-code p.code-column span {
  text-shadow: 0 -12px 10px #F2942B;
  display: block;
  width: auto;
}
div.code-container div#matrix-code p.code-column span:nth-child(-n+5) {
  opacity: 0.3;
}
div.code-container div#matrix-code p.code-column span:nth-child(n+6):nth-child(-n+10) {
  opacity: 0.42;
}
div.code-container div#matrix-code p.code-column span:nth-child(n+11):nth-child(-n+15) {
  opacity: 0.54;
}
div.code-container div#matrix-code p.code-column span:nth-child(n+16):nth-child(-n+25) {
  opacity: 0.66;
}
div.code-container div#matrix-code p.code-column span:nth-child(n+26):nth-child(-n+35) {
  opacity: 0.78;
}
div.code-container div#matrix-code p.code-column span:nth-child(n+36):nth-child(-n+40) {
  opacity: 0.9;
}
div.code-container div#matrix-code p.code-column span:nth-child(n+41) {
  opacity: 1;
}
div.code-container div#matrix-code p.code-column span:nth-last-child(3) {
  color: #F2942B;
}
div.code-container div#matrix-code p.code-column span:nth-last-child(2) {
  color: #f3a754;
}
div.code-container div#matrix-code p.code-column span:nth-last-child(1) {
  color: #ecb177;
}
div.code-container div#matrix-code p.code-column span.code-size-12 {
  font-size: 12px;
  height: 12px;
}
div.code-container div#matrix-code p.code-column span.code-size-25 {
  font-size: 25px;
  height: 25px;
}
div.code-container div#matrix-code p.code-column span.code-size-60 {
  font-size: 60px;
  height: 60px;
}
div.code-container div#matrix-code p.code-0 {
  position: absolute;
  left: 0%;
  animation: drop 5200ms linear 951ms;
}
div.code-container div#matrix-code p.code-1 {
  position: absolute;
  left: 1%;
  animation: drop 6378ms linear 10ms;
}
div.code-container div#matrix-code p.code-2 {
  position: absolute;
  left: 2%;
  animation: drop 12739ms linear 912ms;
}
div.code-container div#matrix-code p.code-3 {
  position: absolute;
  left: 3%;
  animation: drop 3209ms linear 774ms;
}
div.code-container div#matrix-code p.code-4 {
  position: absolute;
  left: 4%;
  animation: drop 7325ms linear 734ms;
}
div.code-container div#matrix-code p.code-5 {
  position: absolute;
  left: 5%;
  animation: drop 10966ms linear 766ms;
}
div.code-container div#matrix-code p.code-6 {
  position: absolute;
  left: 6%;
  animation: drop 1099ms linear 244ms;
}
div.code-container div#matrix-code p.code-7 {
  position: absolute;
  left: 7%;
  animation: drop 7469ms linear 982ms;
}
div.code-container div#matrix-code p.code-8 {
  position: absolute;
  left: 8%;
  animation: drop 3479ms linear 557ms;
}
div.code-container div#matrix-code p.code-9 {
  position: absolute;
  left: 9%;
  animation: drop 7854ms linear 661ms;
}
div.code-container div#matrix-code p.code-10 {
  position: absolute;
  left: 10%;
  animation: drop 13705ms linear 534ms;
}
div.code-container div#matrix-code p.code-11 {
  position: absolute;
  left: 11%;
  animation: drop 14818ms linear 498ms;
}
div.code-container div#matrix-code p.code-12 {
  position: absolute;
  left: 12%;
  animation: drop 8062ms linear 333ms;
}
div.code-container div#matrix-code p.code-13 {
  position: absolute;
  left: 13%;
  animation: drop 11061ms linear 124ms;
}
div.code-container div#matrix-code p.code-14 {
  position: absolute;
  left: 14%;
  animation: drop 1931ms linear 207ms;
}
div.code-container div#matrix-code p.code-15 {
  position: absolute;
  left: 15%;
  animation: drop 13873ms linear 272ms;
}
div.code-container div#matrix-code p.code-16 {
  position: absolute;
  left: 16%;
  animation: drop 5300ms linear 434ms;
}
div.code-container div#matrix-code p.code-17 {
  position: absolute;
  left: 17%;
  animation: drop 6009ms linear 430ms;
}
div.code-container div#matrix-code p.code-18 {
  position: absolute;
  left: 18%;
  animation: drop 7837ms linear 385ms;
}
div.code-container div#matrix-code p.code-19 {
  position: absolute;
  left: 19%;
  animation: drop 10821ms linear 758ms;
}
div.code-container div#matrix-code p.code-20 {
  position: absolute;
  left: 20%;
  animation: drop 13290ms linear 758ms;
}
div.code-container div#matrix-code p.code-21 {
  position: absolute;
  left: 21%;
  animation: drop 14936ms linear 188ms;
}
div.code-container div#matrix-code p.code-22 {
  position: absolute;
  left: 22%;
  animation: drop 12755ms linear 182ms;
}
div.code-container div#matrix-code p.code-23 {
  position: absolute;
  left: 23%;
  animation: drop 12408ms linear 922ms;
}
div.code-container div#matrix-code p.code-24 {
  position: absolute;
  left: 24%;
  animation: drop 5288ms linear 602ms;
}
div.code-container div#matrix-code p.code-25 {
  position: absolute;
  left: 25%;
  animation: drop 3402ms linear 559ms;
}
div.code-container div#matrix-code p.code-26 {
  position: absolute;
  left: 26%;
  animation: drop 7307ms linear 654ms;
}
div.code-container div#matrix-code p.code-27 {
  position: absolute;
  left: 27%;
  animation: drop 13924ms linear 320ms;
}
div.code-container div#matrix-code p.code-28 {
  position: absolute;
  left: 28%;
  animation: drop 12400ms linear 899ms;
}
div.code-container div#matrix-code p.code-29 {
  position: absolute;
  left: 29%;
  animation: drop 1422ms linear 497ms;
}
div.code-container div#matrix-code p.code-30 {
  position: absolute;
  left: 30%;
  animation: drop 12839ms linear 562ms;
}
div.code-container div#matrix-code p.code-31 {
  position: absolute;
  left: 31%;
  animation: drop 2997ms linear 545ms;
}
div.code-container div#matrix-code p.code-32 {
  position: absolute;
  left: 32%;
  animation: drop 9652ms linear 476ms;
}
div.code-container div#matrix-code p.code-33 {
  position: absolute;
  left: 33%;
  animation: drop 6685ms linear 821ms;
}
div.code-container div#matrix-code p.code-34 {
  position: absolute;
  left: 34%;
  animation: drop 7542ms linear 973ms;
}
div.code-container div#matrix-code p.code-35 {
  position: absolute;
  left: 35%;
  animation: drop 14964ms linear 106ms;
}
div.code-container div#matrix-code p.code-36 {
  position: absolute;
  left: 36%;
  animation: drop 13860ms linear 576ms;
}
div.code-container div#matrix-code p.code-37 {
  position: absolute;
  left: 37%;
  animation: drop 5795ms linear 490ms;
}
div.code-container div#matrix-code p.code-38 {
  position: absolute;
  left: 38%;
  animation: drop 4529ms linear 514ms;
}
div.code-container div#matrix-code p.code-39 {
  position: absolute;
  left: 39%;
  animation: drop 13732ms linear 467ms;
}
div.code-container div#matrix-code p.code-40 {
  position: absolute;
  left: 40%;
  animation: drop 2704ms linear 479ms;
}
div.code-container div#matrix-code p.code-41 {
  position: absolute;
  left: 41%;
  animation: drop 7710ms linear 19ms;
}
div.code-container div#matrix-code p.code-42 {
  position: absolute;
  left: 42%;
  animation: drop 2092ms linear 969ms;
}
div.code-container div#matrix-code p.code-43 {
  position: absolute;
  left: 43%;
  animation: drop 3854ms linear 269ms;
}
div.code-container div#matrix-code p.code-44 {
  position: absolute;
  left: 44%;
  animation: drop 8557ms linear 919ms;
}
div.code-container div#matrix-code p.code-45 {
  position: absolute;
  left: 45%;
  animation: drop 6240ms linear 584ms;
}
div.code-container div#matrix-code p.code-46 {
  position: absolute;
  left: 46%;
  animation: drop 9292ms linear 8ms;
}
div.code-container div#matrix-code p.code-47 {
  position: absolute;
  left: 47%;
  animation: drop 4926ms linear 19ms;
}
div.code-container div#matrix-code p.code-48 {
  position: absolute;
  left: 48%;
  animation: drop 2176ms linear 113ms;
}
div.code-container div#matrix-code p.code-49 {
  position: absolute;
  left: 49%;
  animation: drop 13635ms linear 551ms;
}
div.code-container div#matrix-code p.code-50 {
  position: absolute;
  left: 50%;
  animation: drop 6841ms linear 121ms;
}
div.code-container div#matrix-code p.code-51 {
  position: absolute;
  left: 51%;
  animation: drop 8827ms linear 98ms;
}
div.code-container div#matrix-code p.code-52 {
  position: absolute;
  left: 52%;
  animation: drop 8747ms linear 161ms;
}
div.code-container div#matrix-code p.code-53 {
  position: absolute;
  left: 53%;
  animation: drop 13996ms linear 838ms;
}
div.code-container div#matrix-code p.code-54 {
  position: absolute;
  left: 54%;
  animation: drop 11440ms linear 854ms;
}
div.code-container div#matrix-code p.code-55 {
  position: absolute;
  left: 55%;
  animation: drop 1743ms linear 703ms;
}
div.code-container div#matrix-code p.code-56 {
  position: absolute;
  left: 56%;
  animation: drop 13828ms linear 430ms;
}
div.code-container div#matrix-code p.code-57 {
  position: absolute;
  left: 57%;
  animation: drop 7192ms linear 922ms;
}
div.code-container div#matrix-code p.code-58 {
  position: absolute;
  left: 58%;
  animation: drop 12929ms linear 682ms;
}
div.code-container div#matrix-code p.code-59 {
  position: absolute;
  left: 59%;
  animation: drop 1459ms linear 8ms;
}
div.code-container div#matrix-code p.code-60 {
  position: absolute;
  left: 60%;
  animation: drop 6978ms linear 942ms;
}
div.code-container div#matrix-code p.code-61 {
  position: absolute;
  left: 61%;
  animation: drop 8265ms linear 184ms;
}
div.code-container div#matrix-code p.code-62 {
  position: absolute;
  left: 62%;
  animation: drop 4728ms linear 681ms;
}
div.code-container div#matrix-code p.code-63 {
  position: absolute;
  left: 63%;
  animation: drop 3195ms linear 693ms;
}
div.code-container div#matrix-code p.code-64 {
  position: absolute;
  left: 64%;
  animation: drop 3670ms linear 703ms;
}
div.code-container div#matrix-code p.code-65 {
  position: absolute;
  left: 65%;
  animation: drop 8545ms linear 114ms;
}
div.code-container div#matrix-code p.code-66 {
  position: absolute;
  left: 66%;
  animation: drop 7954ms linear 619ms;
}
div.code-container div#matrix-code p.code-67 {
  position: absolute;
  left: 67%;
  animation: drop 2971ms linear 30ms;
}
div.code-container div#matrix-code p.code-68 {
  position: absolute;
  left: 68%;
  animation: drop 10739ms linear 918ms;
}
div.code-container div#matrix-code p.code-69 {
  position: absolute;
  left: 69%;
  animation: drop 8263ms linear 946ms;
}
div.code-container div#matrix-code p.code-70 {
  position: absolute;
  left: 70%;
  animation: drop 1847ms linear 53ms;
}
div.code-container div#matrix-code p.code-71 {
  position: absolute;
  left: 71%;
  animation: drop 1982ms linear 447ms;
}
div.code-container div#matrix-code p.code-72 {
  position: absolute;
  left: 72%;
  animation: drop 12768ms linear 171ms;
}
div.code-container div#matrix-code p.code-73 {
  position: absolute;
  left: 73%;
  animation: drop 2306ms linear 333ms;
}
div.code-container div#matrix-code p.code-74 {
  position: absolute;
  left: 74%;
  animation: drop 7163ms linear 7ms;
}
div.code-container div#matrix-code p.code-75 {
  position: absolute;
  left: 75%;
  animation: drop 13077ms linear 893ms;
}
div.code-container div#matrix-code p.code-76 {
  position: absolute;
  left: 76%;
  animation: drop 14487ms linear 145ms;
}
div.code-container div#matrix-code p.code-77 {
  position: absolute;
  left: 77%;
  animation: drop 6894ms linear 277ms;
}
div.code-container div#matrix-code p.code-78 {
  position: absolute;
  left: 78%;
  animation: drop 10376ms linear 142ms;
}
div.code-container div#matrix-code p.code-79 {
  position: absolute;
  left: 79%;
  animation: drop 11753ms linear 695ms;
}
div.code-container div#matrix-code p.code-80 {
  position: absolute;
  left: 80%;
  animation: drop 6040ms linear 548ms;
}
div.code-container div#matrix-code p.code-81 {
  position: absolute;
  left: 81%;
  animation: drop 9560ms linear 54ms;
}
div.code-container div#matrix-code p.code-82 {
  position: absolute;
  left: 82%;
  animation: drop 4668ms linear 157ms;
}
div.code-container div#matrix-code p.code-83 {
  position: absolute;
  left: 83%;
  animation: drop 8571ms linear 250ms;
}
div.code-container div#matrix-code p.code-84 {
  position: absolute;
  left: 84%;
  animation: drop 13966ms linear 198ms;
}
div.code-container div#matrix-code p.code-85 {
  position: absolute;
  left: 85%;
  animation: drop 7262ms linear 334ms;
}
div.code-container div#matrix-code p.code-86 {
  position: absolute;
  left: 86%;
  animation: drop 11660ms linear 194ms;
}
div.code-container div#matrix-code p.code-87 {
  position: absolute;
  left: 87%;
  animation: drop 5286ms linear 289ms;
}
div.code-container div#matrix-code p.code-88 {
  position: absolute;
  left: 88%;
  animation: drop 7151ms linear 219ms;
}
div.code-container div#matrix-code p.code-89 {
  position: absolute;
  left: 89%;
  animation: drop 14796ms linear 539ms;
}
div.code-container div#matrix-code p.code-90 {
  position: absolute;
  left: 90%;
  animation: drop 12517ms linear 889ms;
}
div.code-container div#matrix-code p.code-91 {
  position: absolute;
  left: 91%;
  animation: drop 7037ms linear 910ms;
}
div.code-container div#matrix-code p.code-92 {
  position: absolute;
  left: 92%;
  animation: drop 14514ms linear 559ms;
}
div.code-container div#matrix-code p.code-93 {
  position: absolute;
  left: 93%;
  animation: drop 7104ms linear 525ms;
}
div.code-container div#matrix-code p.code-94 {
  position: absolute;
  left: 94%;
  animation: drop 1981ms linear 121ms;
}
div.code-container div#matrix-code p.code-95 {
  position: absolute;
  left: 95%;
  animation: drop 7648ms linear 203ms;
}
div.code-container div#matrix-code p.code-96 {
  position: absolute;
  left: 96%;
  animation: drop 12552ms linear 893ms;
}
div.code-container div#matrix-code p.code-97 {
  position: absolute;
  left: 97%;
  animation: drop 7757ms linear 189ms;
}
div.code-container div#matrix-code p.code-98 {
  position: absolute;
  left: 98%;
  animation: drop 1017ms linear 471ms;
}
div.code-container div#matrix-code p.code-99 {
  position: absolute;
  left: 99%;
  animation: drop 12448ms linear 174ms;
}

#loaderbody {
  overflow: hidden;
}

@keyframes drop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(100%);
  }
}
.exo {
  color: white;
  font-size: 1.2rem;
  padding: 2rem;
}
.exo__header {
  color: #F08208;
  padding: 2rem;
}
.exo__header h2 {
  font-family: slovic-demo;
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.exo__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.exo .code-css, .exo .code-js, .exo .code-html {
  font-family: prestige-elite-std, monospace;
  font-size: 1.2rem;
}
.exo .code-html {
  color: #F08208;
}
.exo .example-css {
  margin: 3rem;
  padding: 25px;
  background-color: white;
  color: black;
}
.exo .example-css .title {
  padding: 15px;
  border: 3px solid red;
}
.exo .example-css .subtitle {
  border-bottom: 2px solid blue;
  color: blue;
  margin: 15px 0;
}

#exo-css .exo__body {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.text-normal {
  color: white;
}

.text-comment {
  color: grey;
}

.example-js {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.example-js .example1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 3rem 1rem;
}

.js-select {
  color: #F08208;
}

#intro {
  width: 100vw;
  height: 100vh;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: relative;
}
#intro .logo {
  position: absolute;
  margin: auto;
  transform: translateX(-50px);
  transform: translateY(-50vh);
  height: 50vh;
  opacity: 0;
}
#intro .key {
  color: #F08208;
  background: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2.5rem;
  cursor: pointer;
  opacity: 0.6;
}
#intro .key:hover {
  opacity: 1;
}
#intro #password {
  width: 30vw;
  height: 50%;
  position: absolute;
  border: 2px solid #F08208;
  right: 0;
  top: 25%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  transition: transform 0.5s;
}
#intro #password form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
#intro #password h2 {
  color: #F08208;
  font-family: sans-serif;
}
#intro #password.hidden {
  transform: translateX(35vw);
}

.interface {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}
.interface__container {
  border: 1px solid #F08208;
  color: #F08208;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.interface__container__header {
  margin-bottom: 2rem;
}
.interface__container__header h1 {
  font-size: 3rem;
  border: 1px solid #F08208;
  padding: 1rem 1.5rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.interface__container__header h3 {
  text-align: justify;
  margin: 1rem 0;
}
.interface__container__header p {
  text-align: justify;
  margin: 1rem 0;
}
.interface__container__body {
  margin: 2rem 0;
  width: 100%;
}
.interface__container__body__links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.interface__container__body a {
  text-decoration: none;
}
.interface__container__body__home {
  margin: 2rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.interface__container__body__home h3 {
  margin: 1.5rem 0;
}
.interface .result-dev h3 {
  border: 1px solid #F08208;
  padding: 1rem 1.5rem;
}

#interface-result {
  height: 100vh;
}

.admin {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.admin__interface {
  width: 100%;
  height: 100%;
}
.admin__interface img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.admin__login {
  position: absolute;
  right: 6%;
  top: 43%;
  width: 33%;
  background-color: transparent;
  border: 1px solid #F08208;
  color: #F08208;
  padding: 1.5rem;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.admin__login__input {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.admin__login__input input {
  margin: 1rem 0;
  font-size: 1.1rem;
  padding: 0;
}
.admin__login__submit button {
  margin: 0.5rem 0;
  color: #F08208;
  border: 1px solid #F08208;
  padding: 1rem 1.5rem;
  font-family: prestige-elite-std, monospace;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.1rem;
}
.admin__denied {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #1f1e1e;
  border: 1px solid #F08208;
  color: #F08208;
  padding: 1.5rem;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}

/*# sourceMappingURL=style.css.map */
