$color-primary : #F08208;
$color-primary-light : #F2942B;
$color-primary-lighter : #f3a754;
$color-primary-bright : #ecb177;


$background-primary : #2D2D2A;

$font-primary : prestige-elite-std, monospace;

