.fill-blank{
    box-sizing: border-box;
    display: inline-flex;
    //width: 100%;
    border: 0;
    border-bottom: 2px solid grey;
    padding: 0.25rem 0.5rem;
    color: $color-primary;
    background: transparent;
    transition: all 0.3s ease;
    font-family: $font-primary;
  font-size: 1.2rem;
  
    &:hover{
      border-bottom: 2px solid $color-primary;
  
    }
  
    &:focus,
    &:active{
      outline: 0;
      border-bottom: 2px solid $color-primary;
  
    }
  
  }