$color-primary : #F08208;
$color-primary-light : #F2942B;
$color-primary-lighter : #f3a754;
$color-primary-bright : #ecb177;

$color-secondary : #0d5233;


$background-primary : #1f1e1e;

$font-primary : prestige-elite-std, monospace;

$font-secondary : slovic-demo, sans-serif;